<% provide(:title, 'Processo Seletivo') %>

<h1>Inscreva-se no Processo Seletivo</h1>

<%= form_for(@candidato) do |f| %>
	<%= f.label :nome %>
	<%= f.text_field :nome %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :curso %>
	<%= f.text_field :curso %>

	<%= f.label :período %>
	<%= f.text_field :periodo %>

	<%= f.label :cpf %>
	<%= f.text_field :cpf %>

	<%= f.label :data_da_dinamica %>
	<%= f.text_field :data_dinamica_id %>

	<%= f.submit "Inscrever" %>
<% end %>